---
import '../styles/tailwind.css';
import NavBar from '../components/navBar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-black text-white">
		<div class="p-4 relative">
			<NavBar 
				logo="/assets/shark-apple.png"
				homeLink="./"
			/>
			<div id="content" class="pt-20">
				<h1 class="text-4xl">About me</h1>
				<h2 class="text-2xl">... and my new Astro site!</h2>
				<p class=" text-base">I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
				<p class=" text-base">This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
			</div>
		</div>
	</body>
</html>
