---
import BaseLayout from '../layouts/baseLayout.astro';

// components 
import LinkBtn from '../components/linkBtn.astro';
import ProjectCard from '../components/projectCard.astro';

---

<BaseLayout>
  <h2 class="text-5xl">Projects</h2>
  <h3 class="text-3xl">the complete garbage i make</h3>
  <br> <br>
  <ProjectCard 
    name="shorkHelper"
    description="a simple, yet powerful, discord bot."
    imageUrl="https://cdn.discordapp.com/avatars/1161319651863699536/d1fc87bdf132471985080903d2e3e7b3.webp?size=4096"
    url="/projects/shorkHelper"
  />
</BaseLayout>