---
interface Props {
  name: string;
  username: string;
  img: string;
}

const { name, username, img } = Astro.props;

// components
import LinkBtnLarge from './linkBtnLarge.astro';
import IconBtn from './iconBtn.astro';
---

<div class="bg-zinc-900/75 border-2 border-zinc-600 w-fit h-fit flex rounded-2xl mx-auto shadow-xl shadow-zinc-700/50 flex-col md:flex-row">
  <div class="w-full h-auto md:h-[32rem] md:w-64 border-b-zinc-600 border-b-2 md:border-b-0 md:border-r-zinc-600 md:border-r-2 text-left">
    <img src={img} alt="image" class="w-full h-auto rounded-t-2xl md:rounded-tl-2xl md:rounded-tr-none brightness-75 border-b-zinc-600 border-b-2">
    <p class="sm:text-xl ml-2">{name}</p>
    <p class="text-lg ml-2 text-zinc-500">{username}</p>
    <div class="p-2">
      <IconBtn 
        title="telegram"
        icon="brand-telegram"
        icon_color="#7daea3"
        url="https://t.me/shork_dev"
      />
    </div>
  </div>
  <div class="w-full h-auto md:w-96 md:h-[32rem] p-2 text-left">
    <h2 class="text-xl">Links</h2>
    <div class="flex flex-col gap-2">
      <LinkBtnLarge 
        title="Github"
        icon="brand-github"
        url="https://github.com/lordchebupelya"
      />
      <LinkBtnLarge 
        title="Codeberg"
        icon="brand-codesandbox"
        url="https://codeberg.org/shork"
      />
    </div>
  </div>
</div>